.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    margin: 2px;
}

textarea.std {
  width: 50%;
  height: 150px;
}

input[type=text].std{
  width: 50%; 
}
